<div>
    <div class="w-full bg-blue-800 h-8 flex justify-center items-center text-white">
        Reel in the Adventure
    </div>
    <div class="w-full flex justify-between items-center h-14 shadow-md">
        <div class="flex justify-center items-center"><a routerLink="/"><img src="../../../../assets/images/logo.png" class="w-20 h-16 ml-8"></a>
        <p class="italic font-medium">AFTAS Club</p></div>
        <a class="mr-8 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Start now</a>
    </div>
    
</div>